.link-custom {
    color: rgb(43, 43, 43);
    text-decoration: none;
}
.btn-custom {
    color: rgb(43, 43, 43);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}
.btn-custom:hover {
    background-color: #e2e6ea;
}
.custom:hover {
    background-color: #e2e6ea;
}
.dropdown-toggle {
    border: none;
}